@import url('https://rsms.me/inter/inter.css');

html {
  font-family: 'Inter', sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
  height: 100%;
  color: #26292b;
  line-height: 1.75em;
}

body {
  display: flex;
  margin: 0;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.unit {
  padding-bottom: 10px;
}

h1 {
  font-weight: 800;
  font-size: 2em;
  line-height: 1em;
  margin: 0;
}

p {
  margin: 0.25em 0 0;
  font-weight: 300;
}

ul {
  margin: 1em 0 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #B5838D;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}