/* CSS Styling for Alby Labs */

html {
	margin: 0;
	height: 100%;
}

body {
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
	font-size: 14px;
	background-color: #d3d3d3;
	height: auto;
	width: auto;
}

.bottomContainer {
	width: 100%;
	height: auto;
	bottom: 0;
	opacity: 0.8;
	background-color: #ffffff;
	position: absolute;
}

.bottomContent {
	width: auto;
	height: auto;
	text-align: center;
	height: auto;
	margin: auto;
}

.contentText {
	width: 150px;
	height: 200px;
	padding: 10px;
	display: inline-block;
	vertical-align: text-bottom;
}

#headshot {
	height: 100px;
	width: 120px;
	padding-top: 20px;
}

#container{
	position: absolute;
	z-index: 0;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#backImg {
	height: 100%;
	width: 100%;
	background-size: cover;
	position: absolute;
}

ul {
	list-style: none;
	padding: 0;
	font-size: 16px;
	line-height: 1.5em;
}

a {
	color: #856046;
	text-decoration: none;
}

a:hover {
	color: #532C11;
}

#name {
	color: #5e0231;
	font-size: 20px;
	margin-bottom: 0px;
	text-transform: uppercase;
}

#tagline {
	margin-top: 0px;
}